.container {
  position: relative;
  border: 2px solid;
  width: 300px;
  aspect-ratio: 1 / 1;
  background-color: #ffffff;
}

.divStatico {
  position: static;
  top: 30px;
  left: 40px;
  width: 200px;
  aspect-ratio: 1 / 1;
  background-color: #7fff00;
}
