div {
  border: 1px solid;
  width: 100px;
  aspect-ratio: 1 / 1;
}

.left {
  background-color: #008000;
  float: left;
}

.right {
  background-color: #ff0000;
  float: right;
}

.middle {
  background-color: #ffffff;
  margin: 0 auto;
}
